[Service]
Type=oneshot
ExecStart=+/bin/sh -c '[ ! -e /run/resolvconf/enable-updates ] || cat /run/systemd/resolve/stub-resolv.conf | /sbin/resolvconf -a systemd-resolved'
